@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0c0600;
    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
  }
}